<div id="admin">
  <div id="min_descr">
    Here is the admin part
  </div>
  <div id="descr">
    <table>
      <tr>
	<td>
	  Quizzy name
	</td>
	<td>
	   <span id="quizz-title">
	     <%= quizz.title %>
	   </span>
	</td>
      </tr>


      <tr>
	<td>
	  Admin 
	</td>
	<td>
	  <a href="<%= quizz.getAdminUrl() %>" target="_blank"><%= quizz.getAdminUrl() %></a>
	</td>
      </tr>

      <tr>
	<td>
	  Results
	</td>
	<td>
	  <a href="<%= quizz.getResultUrl() %>" target="_blank"><%= quizz.getResultUrl() %></a>
	</td>
      </tr>


      <tr>
	<td>
	  Public
	</td>
	<td>
	  <a href="<%= quizz.getPublicUrl() %>" target="_blank"><%= quizz.getPublicUrl() %></a>    
	  <br/>
	  <center>
	    <div id="min_descr">Or share this QrCode</div>
	  </center>
	  <div id="qrcode"></div>
	</td>
      </tr>
    </table>

  </div>
  
</div>

<script src="/javascripts/plugins/jquery.qrcode.min.js"></script>
<script>
  $().ready(function() {
  $('#qrcode').qrcode('<%= quizz.getPublicUrl() %>');
  });
</script>
