<input type="hidden" value="<%= quizz._id %>" id="url_id"/>
<div id="result">
  <div id="min_descr">
  Result for <%= quizz.title %> Quizzy
  </div>
  <div id="descr">
    <% choices = quizz.choice; %>
    <div id="answers">
    <% for (var i = 0; i < choices.length; i++) { %>	

    <div id="ans">
    <span id="ans-descr">
    	  <%= choices[i].content %>
    </span>
    <span id="ans-vote">
    <div class="big-bullet">
    <div class="bb-number" id="choice-<%= choices[i].id %>">
	  <%= choices[i].vote %>
</div>	  
	  </div>	  
    </span>
    </div>	      

    <% } %>
    </div>	

  </div>
  
</div>

<script src="/javascripts/socket.io.min.js"></script>
<script>
var socket = io.connect('<%= url_socket %>', {
'reconnection delay' : 250
});
</script>
<script src="/javascripts/results.js"></script>
